body {
  height: 95vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "." "switch" ".";
  transition: 0.3s;
}

.switch {
  position: relative;
  margin: auto;
  grid-area: switch;
  width: 236px;
  height: 102px;
  background-color: #000000;
  border-radius: 59px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch img {
  width: 78px;
}
.images {
  display: flex;
  object-fit: cover;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
    
}
.slider::before{
    position: absolute;
    top: 7px;
    left: 7px;
    content: "";
    width: 86px;
    height: 86px;
    background-color: #f1f1f1;
    border-radius: 50%;
    transition: .4s;
}
/*input:checked + .slider::before{
    transform: translateX(136px);
}*/
.slider.active::before{
    transform: translateX(136px);
}
